@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Cake Shop Boutiqe</h1>

</div>

<div class="container">
    <nav class="col-1-1 nav"
         <ul class=dekstop">
             <li>
                 <a title="About Us" href="#about">About Us</a>
             </li>
         </ul>

</div>
